<table mat-table [dataSource]="filteredProductList" class="mat-elevation-z8">
  <ng-container matColumnDef="product_name">
    <th mat-header-cell *matHeaderCellDef> Produto </th>
    <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
  </ng-container>

  <ng-container matColumnDef="product_category">
    <th mat-header-cell *matHeaderCellDef> Categoria </th>
    <td mat-cell *matCellDef="let element"> {{element.product_category_name}} </td>
  </ng-container>

  <ng-container matColumnDef="unit_price">
    <th mat-header-cell *matHeaderCellDef> Preço Unitário </th>
    <td mat-cell *matCellDef="let element"> {{element.unit_price}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element">
      <!-- Desktop: Show buttons -->
      <div class="action-buttons-desktop">
        <button
          matMiniFab
          class="edit-button"
          [routerLink]="['/products', element.product_id, 'edit']"
          title="Editar Produto">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          matMiniFab
          class="delete-button"
          (click)="onDelete(element.product_id)"
          title="Deletar Produto">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <!-- Mobile: Show dropdown menu -->
      <div class="action-menu-mobile">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="menu-trigger-button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [routerLink]="['/products', element.product_id, 'edit']">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button
            mat-menu-item
            (click)="onDelete(element.product_id)">
            <mat-icon>delete</mat-icon>
            <span>Deletar</span>
          </button>
        </mat-menu>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
