.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
}

.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}

.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.listing-location {
  padding: 10px 20px 20px 20px;
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}

section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.div-name {
  width: 45%;
}

.div-name > mat-form-field {
  width: 100%;
}

.div-category-and-price {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.div-cancel-save-buttons {
  margin-top: 15px;
  width: 45%;
  display: flex;
  align-items: flex-start;
}

.cancel-button {
  margin-right: 15px;
  width: 90px;
  height: 35px;
  padding: 4px 3px;
  border-radius: 5px;
  font-size: 12pt;
  border: none;
  background-color: #9b9b9b;
  color: #FFF;
  cursor: pointer;
}

.save-button {
  margin-right: 15px;
  width: 90px;
  height: 35px;
  padding: 4px 3px;
  border-radius: 5px;
  font-size: 12pt;
  background-color: #3f2e56;
  color: #FFF;
  cursor: pointer
}

.save-and-exit-button {
  margin-right: 15px;
  width: 120px;
  height: 35px;
  padding: 4px 3px;
  border-radius: 5px;
  font-size: 12pt;
  background-color: #3f2e56;
  color: #FFF;
  cursor: pointer
}
