<h1>Produto</h1>

<section>
  <form>
    <div class="div-name">
      <mat-form-field>
        <mat-label>Nome <span style="color: red;">*</span></mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div class="div-category-and-price">
      <mat-form-field>
        <mat-label>Categoria <span style="color: red;">*</span></mat-label>
        <mat-select>
          <mat-option
            *ngFor="let category of productCategoriesList"
            [value]="category.product_category_id">
            {{ category.product_category_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>Preço unitário <span style="color: red;">*</span></mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" />
        <span matTextPrefix>R$&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="div-cancel-save-buttons">
      <button
        class="cancel-button"
        [routerLink]="cancelRoute">Cancelar</button>
      <button class="save-button">Salvar</button>
      <button class="save-and-exit-button">Salvar e sair</button>
    </div>
  </form>
</section>
