
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// Color Variables
$primary-color: #3f2e56;
$primary-hover: #4b2fa0;
$cancel-color: #8f8d8d;
$success-color: #2e7d32;
$error-color: #c62828;
$white: #fff;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-success {
  background: $success-color !important;
  color: $white;
}

.toast-error {
  background: $error-color;
  color: $white;
}

.cancel-button {
  margin-right: 15px;
  width: 90px;
  height: 35px;
  padding: 4px 3px;
  border-radius: 5px;
  font-size: 12pt;
  border: none;
  background-color: $cancel-color;
  color: $white;
  cursor: pointer;
}

.save-button {
  margin-right: 15px;
  width: 90px;
  height: 35px;
  padding: 4px 3px;
  border-radius: 5px;
  border-style: none;
  font-size: 12pt;
  background-color: $primary-color;
  color: $white;
  cursor: pointer;
  transition: background 0.2s;
}

.save-button:hover {
  background: $primary-hover;
}

.edit-button {
  background-color: $primary-color !important;
  color: $white !important;
  cursor: pointer !important;
  margin-right: 10px;
}

.delete-button {
  background-color: $primary-color !important;
  color: $white !important;
  cursor: pointer !important;
}
