.logo {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-size: 18pt;
  font-weight: 700;
  border-bottom: 1px solid white;
  height: 63px;
}

.menu-item {
  color: #FFF !important;
}
