.logo {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-size: 18pt;
  font-weight: 700;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  height: 63px;
}

.menu-item {
  color: #FFF;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  text-decoration: none;
  font-size: 12pt;
  font-weight: 400;
}

.menu-item:hover {
  background-color: #FFF;
  color: #000;
}

:host ::ng-deep .menu-item.active {
  background-color: #FFF;
  color: #000;
}
